body{
  background-color: #0046ff;
  margin:0;
  min-height: 100vh;
  padding:15px
}

.todoapp-wrap{
  max-width: 760px; 
  margin: auto;

}

ul{
  list-style: none; 
  padding-left: 0
}

.todoapp{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

li.todo-item {
  margin-bottom: 10px;
  padding: 15px;
  /* color: white; */
  border-radius: 10px;
}
.colorpick-btn{
  /* background: red; */
  border: 0; 
  width: 20px; 
  height: 20px; 
  border-radius: 30px
}

.todo-list-wrap{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}